/* font-family: 'Roboto', sans-serif; */

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  background-color: #e7e7db;
}

header p {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  border-bottom: solid 1px red;
  border-top: solid 3px red;
  padding: 25px 75px;
}

.important-stuff {
  color: red;
}
