/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

body {
  max-width: 415px;
}

h1 {
  background-color: #e7e7db;
  padding: 14px 98px 12px 98px;
}

header img {
  border-bottom: solid 3px #df0000;
  border-top: solid 3px #df0000;
}

h1 img {
  border: none;
}

h2 {
  font-size: 36px;
  padding: 25px 76px 22px 75px;
  font-weight: 700;
  line-height: 42px;
}

span {
  color: #df0000;
}

header {
  border-bottom: solid 1px #df0000;
}

.introduction {
  font-size: 21px;
  margin-bottom: 38px;
}

main {
  padding: 20px 0 60px 0;
  text-align: center;
  line-height: 19px;
}

h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 0 37px 0 37px;
}

main p {
  margin-bottom: 36px;
  padding: 0 37px 0 37px;
}

.cover {
  background-color: #df0000;
  margin-bottom: 22px;
  padding: 25px 89px 25px 90px;
}

.cover img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #df0000;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  padding: 7px 12px 6px 12px;
  width: 133px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 22px 141px 0px 141px;
}

.button a {
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  background-image: url(../_consigne/images/background.png);
  padding: 22px 37px 38px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

footer nav {
  color: #df0000;
  margin-bottom: 31px;
  line-height: 19px;
}

footer a {
  text-decoration: none;
}

.link-source {
  font-size: 12px;
  line-height: 14px;
}
